<header>
    <div class="toolbar">
        <nav>
            <div class="logo">
                <img src="../../../assets/images/logo/pickaboo-logo.png" alt="">
            </div>
            <div class="search-container">
                <form action="#">
                    <input type="text" placeholder="Search">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </form>
            </div>
            <div class="add_to_card_btn">
                <fa-icon [icon]="faDollyFlatbed"></fa-icon>
                <button mat-flat-button matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                  My Cart
              </button>
            </div>
            <div class="login_register_btn">
                <button class="login_btn"> <fa-icon [icon]="faUnlockKeyhole"></fa-icon> Login</button>
                <button class="register_btn"> <fa-icon [icon]="faKey"></fa-icon> Register</button>
            </div>
        </nav>
    </div>
    <div class="main_nav">
        <nav>
            <div class="smartphones_dropdown">
                <button class="dropbtn">smartphones</button>
                <div class="smartphones_dropdown_content content">
                    <a href="#">Samsung</a>
                    <a href="#">iPhone</a>
                    <a href="#">realme</a>
                    <a href="#">Xiaomi</a>
                    <a href="#">vivo</a>
                    <a href="#">OPPO</a>
                    <a href="#">Infinix</a>
                    <a href="#">OnePlus</a>
                    <a href="#">Tecno</a>
                    <a href="#">Motorola</a>
                    <a href="#">Nokia</a>
                </div>
            </div>
            <div class="electronics_dropdown">
                <button class="dropbtn">electronics & appliances</button>
                <div class="electronics_dropdown_content content">
                    <div class="electronics_row">
                        <div class="home_appliances">
                            <b>Home Appliances</b>
                            <a href="#"> Television</a>
                            <a href="#"> Air Conditioner</a>
                            <a href="#"> Refrigerator & Fridge</a>
                            <a href="#"> Geyser/Room Heater</a>
                            <a href="#"> Air Purifier</a>
                            <a href="#">Iron</a>
                            <a href="#"> Washing Machine</a>
                            <a href="#">BOSCH Home Appliances</a>
                            <a href="#">Home Theater & Sound <br> System</a>
                        </div>
                        <div class="kitchen_appliances">
                            <b>Kitchen Appliances</b>
                            <a href="#">Grinder & Blender</a>
                            <a href="#">Water Filters & Purifiers</a>
                            <a href="#">Microwave Oven</a>
                            <a href="#">Kettle</a>
                            <a href="#">Rice Cooker</a>
                            <a href="#">Cooking Stove</a>
                            <a href="#">Kitchen Hood</a>
                            <a href="#">Others</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="mobile_dropdown">
                <button class="dropbtn">mobile accessories</button>
                <div class="mobile_dropdown_content content">
                    <div class="mobile_row">
                        <div>
                            <a href="#">Smart Watch</a>
                            <a href="#">True Wireless Earbud</a>
                            <a href="#">Bluetooth Headphone</a>
                            <a href="#">Wired Headphone</a>
                            <a href="#">Portable Speaker</a>
                            <a href="#">Apple Accessories</a>
                            <a href="#">Power Bank</a>
                            <a href="#">JBL Accessories</a>
                            <a href="#">Smart Band</a>
                            <a href="#">Gimbal</a>
                        </div>
                        <div>
                            <a href="#">Charger</a>
                            <a href="#">Adapter</a>
                            <a href="#">Data Cables</a>
                            <a href="#">Memeory Card</a>
                            <a href="#">Action Camera</a>
                            <a href="#">Back Cover</a>
                            <a href="#">Screen Protector</a>
                            <a href="#">Selfie Sticks</a>
                            <a href="#">Other Accessories</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="computer_dropdown">
                <button class="dropbtn">Computer & Accessories</button>
                <div class="computer_dropdown_content content">
                    <div class="computer_row">
                        <div class="row_1">
                            <b>Computer accessories</b>
                            <a href="#">Mouse</a>
                            <a href="#">Mouse Pad</a>
                            <a href="#">Keyboard</a>
                            <a href="#">Pen Drive</a>
                            <a href="#">Speaker</a>
                            <a href="#">Router</a>
                            <a href="#">HDD & SSD</a>
                            <a href="#">Monitor</a>
                            <a href="#">printer</a>
                            <a href="#">Headset</a>
                            <a href="#">Webcam</a>
                            <a href="#">RAM</a>
                            <a href="#">UPS</a>
                            <a href="#">Software & Antivirus</a>
                            <a href="#">Converter & Cable</a>
                            <a href="#">Other Accessories</a>

                        </div>
                        <div class="row_2">

                            <a href="#"><b>Laptop & Notebook</b></a>
                            <a href="#"><b>Tablet</b></a>
                            <a href="#"><b>Gaming Consoles $ Accessories</b></a>
                            <a href="#">Console</a>
                            <a href="#">Controller</a>
                            <a href="#">Games</a>
                            <a href="#">Accessories</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="lifestyle_dropdown">
                <button class="dropbtn">lifestyle</button>
                <div class="lifestyle_dropdown_content content">

                    <b>Grooming</b>
                    <a href="#">Trimmer & Shaver</a>
                    <a href="#">Hair Straighteners</a>
                    <a href="#">Hair Dryers</a>

                    <b>Watches</b>
                    <a href="#">Men's Watches</a>
                    <a href="#">women's Watches</a>

                    <b>Fragrances</b>
                    <a href="#">Men's Fragrances</a>
                    <a href="#">women's Fragrances</a>

                    <a href="#"><b>Bike Accessories</b></a>
                    <a href="#"><b>Helmet</b></a>
                    <a href="#"><b>Gloves</b></a>
                    <a href="#"><b>Treadmill</b></a>

                </div>
            </div>
        </nav>
    </div>
</header>
