<footer>
    <div class="footer_row_1">
        <div class="about_footer">
            <h2>ABOUT</h2>
            <p>about us</p>
            <p>Privacy Policy</p>
            <p>Cookie Policy</p>
            <p>Why Shop with Us</p>
            <p>Terms & Conditions</p>
            <p>Help</p>
        </div>
        <div class="Middle_footer">
            <div class="contact">
                <h2>CONTACT</h2>
                <p>Contact us</p>
            </div>
            <div class="pickaboo_address">
                <p>
                    <mat-icon> location_on</mat-icon> House 10, Road 12 Block F, Niketan, Gulshan 1, Dhaka - 1212, Bangladesh</p>
                <p>
                    <mat-icon> call</mat-icon> +8809666745745</p>
            </div>
        </div>
        <div class="download_app_footer">
            <h2>Download Our App</h2>
        </div>

    </div>
    <div class="footer_row_2">
        <div class="footer_icon"></div>
        <div class="footer_text"></div>
        <div class="footer_payment_card"></div>
    </div>
</footer>
